{% extends 'layout.html' %}
{% load staticfiles %}
{% block title_tag %}Accounts | Profile | {{ block.super }}{% endblock %}
{% block body_content %}

<div class="offert-form">
    <form enctype="multipart/form-data" method="POST">
        <div class="head">
            <div class="ofert-icon">
                <img src="{% static 'img/icons/host-lines.svg' %}" alt="">
                <div class="title">
                    <h2>Profile Details</h2>
                    <span>Configure Options</span>
                </div>
            </div>
            <div class="accept">
                <input type="image" src="{% static 'img/icons/ok.png' %}" alt="Submit" width="48" height="48"><input type="submit" value="Save Changes"> 
            </div>
        </div>
        {% csrf_token %}
        
        {% for form in forms %}
            <h2>{{ form.title }}</h2> <br /><br />
            <div class="formgroup">
                {{ form.as_p }}<br />
                
            </div>
                
        {% endfor %}
       {% comment %}
        {% for form in forms %}
        {% if userprofile.user.is_student %}
    
        <div align="center"><i>My Student Profile data</i></div>
            {{ studentprofileform }}
            {{ studentprofileform.non_field_errors }}
        {% endif %}
         
        
        {% if userprofile.user.is_professor %}
            <div align="center"><i>My Professor Profile data</i></div>
            {{ professorprofileform }}
            {{ professorprofileform.non_field_errors }}
        {% endif %}
        
        
        {% if userprofile.user.is_executive %} 
            <div align="center"><i>My Executive Profile data</i></div>  
            {{ executiveprofileform }}
            {{ executiveprofileform.non_field_errors }}
        {% endif %}
        {% endfor %}
        {% endcomment %}

        <input type="submit" value="Save Changes" class="btn btn-default">
    </form>
</div>

{% endblock %}