{% extends 'layout.html' %}
{% load bootstrap3 %}
{% block title_tag %}Accounts | Profile | iHost {{ block.super }}{% endblock %}
{% block body_content %}
<div class="container">
    <h1>My Profile</h1>
    <form method="POST">
        {% csrf_token %}

        {% for form in forms %}
            <h1>{{ form.title }}</h1>
                {% bootstrap_form form %}
        {% endfor %}
    
{% comment %}
        {% if userprofile.user.is_student %}
    
        <div align="center"><i>My Student Profile data</i></div>
            {% bootstrap_form studentprofileform %}
            {{ studentprofileform.non_field_errors }}
        {% endif %}
         
        
        {% if userprofile.user.is_professor %}
            <div align="center"><i>My Professor Profile data</i></div>
            {% bootstrap_form professorprofileform %}
            {{ professorprofileform.non_field_errors }}
        {% endif %}
        
        
        {% if userprofile.user.is_executive %} 
            <div align="center"><i>My Executive Profile data</i></div>  
            {% bootstrap_form executiveprofileform %}
            {{ executiveprofileform.non_field_errors }}
        {% endif %}
{% endcomment %}

        <input type="submit" value="Save Changes" class="btn btn-default">
    </form>
</div>

{% endblock %}