{% extends 'layout.html' %}
{% load bootstrap3 %}

{% block title_tag %}Accounts | Profile | iHost {{ block.super }}{% endblock %}

{% block body_content %}
<div class="container">
    <h1>My Profile</h1>
    <form method="POST">
        {% csrf_token %}
        {% if userprofile.user.is_student %}
            {% bootstrap_form form_student %}
        {% elif userprofile.user.is_professor %}
            {% bootstrap_form form_professor %}
        {% elif userprofile.user.is_executive %}
            {% bootstrap_form form_executive %}
        {% endif %}    
        <input type="submit" value="Save Changes" class="btn btn-default">
    </form>
</div>

{% endblock %}