{% extends 'layout.html' %}
{% load staticfiles %}


{% block title_tag %}Accounts | Settings | {{ block.super }}{% endblock %}

{% block body_content %}
    <div class="offert-form">
        {% comment %}
        <a href="{% url 'article_list' %}" class="logo-cont">
        <img src="{% static 'img/Logo-slogan.png' %}">
        </a> 
        {% endcomment %}
      
        <form enctype="multipart/form-data" method="POST">
            <div class="head">
                <div class="ofert-icon">
                    <img src="{% static 'img/icons/host-lines.svg' %}" alt="">
                    <div class="title">
                        <h2>Account Details</h2>
                        <span>Configure Settings</span>
                    </div>
                </div>
                <div class="accept">
                  <input type="image" src="{% static 'img/icons/ok.png' %}" alt="Submit" width="48" height="48"><input type="submit" value="Save Changes"> 
                </div>
            </div>
            {% csrf_token %}
            {% if user.user_type == 'I' %}
                
                <div class="formgroup">
                    <span>Enterprise name</span>
                    {{ form.enterprise_name }}
                </div>
                <div class="formgroup">
                    <span>Country of origin</span>
                    {{ form.country_of_origin }}
                </div>
                <div class="formgroup">
                    <span>Hometown</span>
                    {{ form.city_of_origin }}
                </div>
                <div class="formgroup">
                    <span>Country of residence</span>
                    {{ form.country_current_residence }}
                </div>
                <div class="formgroup">
                    <span>City of residence</span>
                    {{ form.city_current_residence }}
                </div>
                <div class="formgroup">
                    <span>Phone number</span>
                    <label for="{{ form.phone_number.id_for_label }}">Please use the following format: <em>+Country Code-Number</em>.</label>
                    {{ form.phone_number }}
                </div>
                <div class="formgroup">
                    <span>Address</span>
                    {{ form.address }}
                </div>
                <div class="formgroup">
                    <span>Biography</span>
                    {{ form.bio }}
                </div>
                <div class="formgroup">
                    <span>Photo</span>
                    {{ form.avatar }}
                </div>
                <div class="formgroup">
                    <span>Study Host</span>
                    {{ form.is_study_host }}
                </div>
                <div class="formgroup">
                    <span>Hosting Host</span>
                    {{ form.is_hosting_host }}
                </div>
                
            {% else %}

                <div class="formgroup">
                    <span>First name</span>
                    {{ form.first_name }}
                </div>
                <div class="formgroup">
                    <span>Last name</span>
                    {{ form.last_name }}
                </div>
                <div class="formgroup">
                    <span>Gender</span>
                    {{ form.gender }}
                </div>
                <div class="formgroup">
                    <span>Date of birth</span>
                    {{ form.date_of_birth }}
                </div>
                <div class="formgroup">
                    <span>Country of origin</span>
                    {{ form.country_of_origin }}
                </div>
                <div class="formgroup">
                    <span>Hometown</span>
                    {{ form.city_of_origin }}
                </div>
                <div class="formgroup">
                    <span>Country of residence</span>
                    {{ form.country_current_residence }}
                </div>
                <div class="formgroup">
                    <span>City of residence</span>
                    {{ form.city_current_residence }}
                </div>
                <div class="formgroup">
                    <span>Speak Languages</span>
                    {{ form.speak_languages }}
                </div>
                <div class="formgroup">
                    <span>Phone number</span>
                    <label for="{{ form.phone_number.id_for_label }}">Please use the following format: <em>+Country Code-Number</em>.</label>
                    {{ form.phone_number }}
                </div>
                <div class="formgroup">
                    <span>Address</span>
                    {{ form.address }}
                </div>
                <div class="formgroup">
                    <span>Biography</span>
                    {{ form.bio }}
                </div>
                <div class="formgroup">
                    <span>Photo</span>
                    {{ form.avatar }}
                </div>
                <div class="formgroup">
                    <span>Student</span>
                    {{ form.is_student }}
                </div>
                <div class="formgroup">
                    <span>Professor</span>
                    {{ form.is_professor }}
                </div>
                <div class="formgroup">
                    <span>Executive</span>
                    {{ form.is_executive }}
                </div>
                <div class="formgroup">
                    <span>Hosting Host</span>
                    {{ form.is_hosting_host }}
                </div>
            {% endif %}           
            {% comment %}
                {% bootstrap_form form exclude="first_name,last_name,gender,speak_languages,entertainment_activities,is_student,is_professor,is_executive" %}
            
                {% bootstrap_field form.enterprise_name %} 
                {% bootstrap_field form.country_of_origin %} 
                {% bootstrap_field form.city_of_origin %} 
                {% bootstrap_field form.country_current_residence %} 
                {% bootstrap_field form.city_current_residence %} 
                {% bootstrap_field form.phone_number %} 
                {% bootstrap_field form.address %} 
                {% bootstrap_field form.bio %} 
                {% bootstrap_field form.avatar %} 
                {% bootstrap_field form.date_of_birth %} 
                {% bootstrap_field form.is_study_host %} 
                {% bootstrap_field form.is_hosting_host %}
            
            
            {% else %}
                {% bootstrap_form form exclude="enterprise_name,is_study_host" %}  
            {% endif %}
            {% endcomment %}
            <input type="submit" value="Save Changes">
            

        </form>
    </div>

{% endblock %}