{% extends 'layout.html' %}
{% load bootstrap3 %}

{% block title_tag %}Accounts | Settings | iHost {{ block.super }}{% endblock %}

{% block body_content %}
<div class="container">
    <h1>Account Details</h1>
    <form enctype="multipart/form-data" method="POST">
        {% csrf_token %}
        {% if user.user_type == 'I' %}
            {{ form.enterprise_name }}
            {{ form.country_of_origin }}
            {{ form.city_of_origin }}
            {{ form.country_current_residence }}
            {{ form.city_current_residence }}
            {{ form.phone_number }}
            {{ form.address }}
            {{ form.bio }}
        {% else %}
            {{ form }} 
        {% endif %}           
        {% comment %}
            {% bootstrap_form form exclude="first_name,last_name,gender,speak_languages,entertainment_activities,is_student,is_professor,is_executive" %}
        
            {% bootstrap_field form.enterprise_name %} 
            {% bootstrap_field form.country_of_origin %} 
            {% bootstrap_field form.city_of_origin %} 
            {% bootstrap_field form.country_current_residence %} 
            {% bootstrap_field form.city_current_residence %} 
            {% bootstrap_field form.phone_number %} 
            {% bootstrap_field form.address %} 
            {% bootstrap_field form.bio %} 
            {% bootstrap_field form.avatar %} 
            {% bootstrap_field form.date_of_birth %} 
            {% bootstrap_field form.is_study_host %} 
            {% bootstrap_field form.is_hosting_host %}
        
        
        {% else %}
            {% bootstrap_form form exclude="enterprise_name,is_study_host" %}  
        {% endif %}
        {% endcomment %}
        <input type="submit" value="Save Changes" class="btn btn-primary">
        

    </form>
</div>
{% endblock %}