{% extends "layout.html" %}
{% load staticfiles %}


{% block body_content %}
  <div class="offert-form">
    <div class="head">
      <div class="ofert-icon">
        <div class="title">
          <h2>{{ article.title }}</h2>
          <span></span>
        </div>
      </div>
    </div>
    
    {% if article.published_date %}
    <br />
      <div>{{ article.published_date }}</div>
    {% else %}
      <a href="{% url 'article_publish' slug=article.slug %}">Publish</a>
    {% endif %}<br /><br />
      <img src="{{ article.image.url }}" alt="">
    <br /><br />
    <p align="justify">{{ article.text|safe|linebreaksbr }}</p>
  
    
    {% comment %}
    {% if user.is_authenticated %}
        <a href="{% url 'article_edit' pk=article.pk %}">
            <span>Edit</span>
        </a>
        <a href="{% url 'article_remove' pk=article.pk %}">
            <span>Remove</span>
        </a>
    {% endif %}
    {% endcomment %}
    <br /><br />
    
    <hr>
    
    {% with comments.count as total_comments %}
      <h2>
        {{ total_comments }} comment{{ total_comments|pluralize }}
      </h2>
    {% endwith %}

    {% comment %}List of comments{% endcomment %}
    {% for comment in comments %}
      <div class="comment">
        <p class="info">
          Comment {{ forloop.counter }} by {{ comment.name }}
          <br /><br />
          {{ comment.created }}
        </p>
        {{ comment.body|linebreaks }}
        
      </div>
      <br /><br />
    
    {% empty %}
      <p>There are no comments yet.</p>
    {% endfor %}
    {% if new_comment %}
      <h2>Your comment has been added.</h2>
    {% comment %} {% elif %} {% endcomment %}
    {% elif user.is_authenticated %}
      <h2>Add a new comment</h2>
      <form action="." method="post"> <br /> 
        {% csrf_token %}
        
        <div class="formgroup">
            <span>Name</span>
            {{ comment_form.name }}
        </div>
        <div class="formgroup">
            <span>Email</span>
            {{ comment_form.email }}
        </div>
        <div class="formgroup">
            <span>Message</span>
            {{ comment_form.body }}
        </div>
        <div class="accept">
          <input type="image" src="{% static 'img/icons/ok.png' %}" alt="Submit" width="48" height="48"><input type="submit" value="Add comment"> 
        </div>
      </form>
      <br /><br />
      <p>
          <a href="{% url "article_share" article.slug %}">
            Share this article
          </a>
        </p>
    {% else %}
    
    To add a comment in this article you should <a href="{% url 'login' %}">sign in </a>

    {% endif %}

    {% comment %}
    <a class="btn btn-primary btn-comment" href="{% url 'add_comment_to_article' pk=article.pk %}">Add comment</a>
    <div class="container">


  {% for comment in article.comments.all %}
  <br>
      {% if user.is_authenticated or comment.approved_comment %}
        {{ comment.created_date }}
            {% if not comment.approved_comment %}
                <a class="btn btn-default" href="{% url 'comment_remove' pk=comment.pk %}"><span class="glyphicon glyphicon-remove">Remove Comment</span></a>
                <a class="btn btn-default" href="{% url 'comment_approve' pk=comment.pk %}"><span class="glyphicon glyphicon-ok">Approve Comment</span></a>
              {% endif %}

          <p>{{ comment.text|safe|linebreaks }}</p>
          <p>Written by: <strong>{{ comment.author }}</strong></p>

      {% endif %}
  {% empty %}
      <p>No comments posted.</p>
  {% endfor %}

</div>
{% endcomment %}
  </div>

{% endblock %}