{% extends "layout.html" %}
{% load staticfiles %}
{% block title_tag %}Create Article | {{ block.super }}{% endblock %}


{% block body_content %}
<div class="offert-form">
    <h1>
    {% if not form.instance.slug %}
        {{ form.ad }}
      {% else %}
      Update Article
      {% endif %}
    </h1>

    <form class="stayhost" method="POST" enctype="multipart/form-data">
    <div class="head">
        <div class="ofert-icon">
          <img src="{% static 'img/icons/lang.svg' %}" alt="">
          <div class="title">
            <h2>contents</h2>
            <span>Create Article</span>
          </div>
        </div>
        <div class="accept">
          <input type="image" src="{% static 'img/icons/ok.png' %}" alt="Submit" width="48" height="48"><input type="submit" value="Save Article"> 
        </div>
    </div>
    {% csrf_token %}
        <div class="formgroup">
            <span>Title</span>
            {{ form.title }}
        </div>
        <div class="formgroup">
            <span>Text</span>
            {{form.text}}
        </div>
        <div class="formgroup">
            <span>Photo</span>
            {{ form.image }}
        </div>
        
    </form>
</div>
{% endblock %}