{% extends "layout.html" %}


{% block body_content %}
<div class="main">
  <div class="form-cont">
    <h1>{{ article.title }}</h1>
    {% if article.published_date %}
        <div>
            {{ article.published_date }}
        </div>
    {% else %}
        <a href="{% url 'article_publish' slug=article.slug %}">Publish</a>
    {% endif %}
     <img src="{{ article.image.url }}" alt="">
    <br /><br />
    <p align="justify">{{ article.text|safe|linebreaksbr }}</p>
  
    
    {% comment %}
    {% if user.is_authenticated %}
        <a href="{% url 'article_edit' pk=article.pk %}">
            <span>Edit</span>
        </a>
        <a href="{% url 'article_remove' pk=article.pk %}">
            <span>Remove</span>
        </a>
    {% endif %}
    {% endcomment %}
    <br /><br />
    
    <hr>
    
    {% with comments.count as total_comments %}
      <h2>
        {{ total_comments }} comment{{ total_comments|pluralize }}
      </h2>
    {% endwith %}

    {% comment %}List of comments{% endcomment %}
    {% for comment in comments %}
      <div class="comment">
        <p class="info">
          Comment {{ forloop.counter }} by {{ comment.name }}
          <br /><br />
          {{ comment.created }}
        </p>
        {{ comment.body|linebreaks }}
      </div>
      <br /><br />
    {% empty %}
      <p>There are no comments yet.</p>
    {% endfor %}

    {% if new_comment %}
      <h2>Your comment has been added.</h2>
    {% else %}
      <h2>Add a new comment</h2>
      <form action="." method="post"> <br /> 
        {% csrf_token %}
        <label for="{{ form.name.id_for_label }}">Name</label>
        {{ comment_form.name }}<br /><br />

        <label for="{{ form.email.id_for_label }}">Email</label>
        {{ comment_form.email }}<br /><br />

        <label for="{{ form.body.id_for_label }}">Message</label>
        {{ comment_form.body }}<br /><br />
        <p><input type="submit" value="Add comment"></p>
      </form>
    {% endif %}

    {% comment %}
    <a class="btn btn-primary btn-comment" href="{% url 'add_comment_to_article' pk=article.pk %}">Add comment</a>
    <div class="container">


  {% for comment in article.comments.all %}
  <br>
      {% if user.is_authenticated or comment.approved_comment %}
        {{ comment.created_date }}
            {% if not comment.approved_comment %}
                <a class="btn btn-default" href="{% url 'comment_remove' pk=comment.pk %}"><span class="glyphicon glyphicon-remove">Remove Comment</span></a>
                <a class="btn btn-default" href="{% url 'comment_approve' pk=comment.pk %}"><span class="glyphicon glyphicon-ok">Approve Comment</span></a>
              {% endif %}

          <p>{{ comment.text|safe|linebreaks }}</p>
          <p>Written by: <strong>{{ comment.author }}</strong></p>

      {% endif %}
  {% empty %}
      <p>No comments posted.</p>
  {% endfor %}

</div>
{% endcomment %}
  </div>
</div>
{% endblock %}