{% extends "layout.html" %}

{% block title_tag %}Welcome to {{ block.super }}{% endblock %}
{% block body_content %}
  <div class='container'>
    <!-- Main component for a primary marketing message or call to action -->
      <div class="jumbotron">
        <h1>We make the world your home </h1>
        <p>This example is a quick exercise to illustrate how the default, static and fixed to top navbar work. It includes the responsive CSS and HTML, so it also adapts to your viewport and device.</p>
      </div>
  </div>



   
{% endblock %}

