{% load staticfiles %}


<!DOCTYPE html>
<html>
  <head>        
    <title>{% block title_tag %}HOSTAYNI Platform{% endblock %}</title>
    
    <!-- Medium Style Editor -->
    {% comment %}
    <script src="//cdn.jsdelivr.net/medium-editor/latest/js/medium-editor.min.js"></script>
    <link rel="stylesheet" href="//cdn.jsdelivr.net/medium-editor/latest/css/medium-editor.min.css" type="text/css" media="screen" charset="utf-8">
    {% endcomment %}

    {# Custom CSS#}
    {% comment %}<link rel="stylesheet" href="{% static 'css/blog.css' %}">{% endcomment %}

    {# Fonts#}
    {% comment %}
    <link href="https://fonts.googleapis.com/css?family=Montserrat|Russo+One" rel="stylesheet">
    {% endcomment %}
    
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% comment %} Jeronimo's static files  {% endcomment %}
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    </script>
    <script type="text/javascript" src="{% static 'js/main.js' %}"></script>

    </script>

    </script>
  </head>
  
  
  <body class="grey-background">
    <div class="wrapper">
    <!-- Botones de registro e inicio de sesión -->
      <header>
      {% if user.is_authenticated %}
        {% if userprofile %}
          <div class="profile-options">
            <div class="img">
              <!-- Imagen de perfil -->
              <img src="{{ object.image_url|default_if_none:'#' }}" alt="">
              {% comment %}<img src="{{ userprofile.avatar.url }}" alt="">{% endcomment %}
            </div>
            <div class="name-options-cont">
              <div class="name">
                <p>@{{ userprofile.user.email }}</p>
              </div>
              <div class="options">
                <img src="{% static 'img/icons/gear.svg' %}" alt="">
                <div class="drop-down">
                  <ul>
                    <li><a href="{% url 'accounts:preferences' userprofile.user.slug %}" >
                    Settings</a></li>
                    <li><a href="{% url 'accounts:profile' userprofile.user.slug %}">My profile</a></li> 
                    <li class="line"></li>
                    <li><a href="{% url 'article_new' %}">New Article</a></li>
                    <li><a href="{% url 'list' userprofile.user.slug %}">My Articles</a></li>
                    <li class="line"></li>
                    <li><a href="{% url 'host:list' userprofile.user.slug %}">My Lodging Offers</a></li>
                    <li><a href="{% url 'host:studiesofferlist' userprofile.user.slug %}">My Study Offers</a></li>
                    {% if userprofile.user.is_hosting_host %}
                      <li><a href="{% url 'host:hosting-host' %}">Create Lodging Offer</a></li>
                    {% endif %}
                    {% if userprofile.user.is_study_host %}
                      <li><a href="{% url 'host:study-host' %}">Create Study Offer</a></li>
                    {% endif %}
                    <li><a href="{% url 'host:hostingoffer-search' %}">Search Lodging Offers</a></li>
                          <li><a href="{% url 'host:studyoffer-search' %}">Search Studies Offers</a></li>
                    <li class="line"></li>
                    <li><a href="{% url 'logout' %}">Log Out</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        {% endif %}
        {% else %}
          <div class="registration">
            <a href="{% url 'accounts:signup' %}">Join</a><a href="{% url 'login' %}">Login!</a>
          </div>
      {% endif %}
      </header>
      {% comment %} Mirar como poner esto con ese container{% endcomment %}
      
          {% block body_content %}
          {% endblock %}
      
      {% comment %} Mirar como poner esto con ese container{% endcomment %}
    
    </div>
    <br />
    <footer>
      <p align="center">{% now 'Y' %} &copy; HOSTAYNI Platform. All rights reserved.</p>
    </footer>
  </body>
</html>
