{% extends 'layout.html' %}

{% block title_tag %}Lodging Offert | {{ block.super }}{% endblock %}
{% block body_content %}



<script>
  $(function() {
    $( ".datepicker" ).datepicker({
      changeMonth: true,
      changeYear: true,
      yearRange: "1900:2050",
      altField: "#alternate",
      altFormat: "DD, d MM, yy"
      // You can put more options here.

    });
  });
</script>
<div class="container">
    <h1>
      {% if not form.instance.pk %}
        {{ form.title }}
      {% else %}
      Update Lodging Offer
      {% endif %}
    </h1>
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        
        {{ form.as_p }}
        {# equivalent to form.as_p #}
        <input type="submit" value="Save Offer"> 
        <div>
        
    </div>
    </form>
    
</div>
{% endblock %}