{% extends 'layout.html' %}
{% load bootstrap3 %}
{% block title_tag %}{{ lodgingofferdetail.ad_title }} | {{ block.super }}{% endblock %}
{% block body_content %}

<div class="container">
  <div class="page-header">
    <h1>{{ lodgingofferdetail.ad_title }}</h1>
  </div>
    <p class="lead">About of this Lodging Offer</p>
    <p>{{ lodgingofferdetail.additional_description }}</p><hr>
      
    <p class="lead">Price (monthly, nightly)</p>
    <p>{{ lodgingofferdetail.room_value }}</p><hr>
    
    <p class="lead">Room information</p>
    {% for offer in lodgingoffer %}
      <p>{{ offer }}</p>
      
    {% endfor %}<hr>
    <p class="lead">Guests</p>
    <p>{{ lodgingofferdetail.number_guest_room_type }}</p><hr>
    <p class="lead">Room type offered</p>
    <p>{{ lodgingofferdetail.room_type_offered }}</p><hr>
    <p class="lead">Available Dates</p>
    <p>{{ lodgingofferdetail.available_dates }}</p><hr>

    <p class="lead">Offered Services</p>
    {% for services in offeredservices %}
      <p>{{ services }}</p>
      
    {% endfor %}
</div>
{% endblock %}