{% extends 'layout.html' %}
{% load bootstrap3 %}
{% block title_tag %}{{ studyofferdetail.ad_title }} | {{ block.super }}{% endblock %}
{% block body_content %}

<div class="container">
  <div class="page-header">
    <h1>{{ studyofferdetail.ad_title }}</h1>
  </div>
    <p class="lead">About of this Study Offer</p>
    <p>{{ studyofferdetail.additional_description }}</p><hr>
      
    <p class="lead">Topics</p>
    <p>{{ studyofferdetail.knowledge_topics.all|join:", " }}</p><hr>
    
    <p class="lead">Study types</p>
    {% for offer in studiestypeoffered %}
      <p>{{ offer }}</p>
    {% endfor %}<hr>

    <p class="lead">Duration</p>
    <p>{{ studyofferdetail.duration }}</p><hr>

    <p class="lead">Academic Mobility Program</p>
    <p>{{ studyofferdetail.academic_mobility_programs }}</p><hr>
    
    <p class="lead">Students number in {{ studyofferdetail.created_by.first_name }}</p>
    <p>{{ studyofferdetail.students_number }}</p>
    <h5>{{ studyofferdetail.institute_character }} Institution</h5>
    <hr>

    <p class="lead">Scholarships</p>
    {% for offer in scholarships %}
      <p>{{ offer }}</p>  
    {% endfor %}<hr>

    <p class="lead">Location Offer</p>
    <p>{{ studyofferdetail.city }}, {{ studyofferdetail.country }}</p><hr>
    
    {% comment %}
    <p class="lead">Photography</p>
    <img src="{{ {{ object.image_url|default_if_none:'#' }} }}" height="150", width="200">
    <hr>
    {% endcomment %}

</div>
<div class="container">
    <p><a class='btn btn-warning' href = "{% url 'host:edit-study-offer' studyofferdetail.pk %}">Update</a></p>
    
</div>
{% endblock %}