{% extends "layout.html" %}

{# Load the tag bootstrap3 library to create some bootstrap3
automatically #}
{% load bootstrap3 %}

{% block title_tag %}Login | {{ block.super }}{% endblock %}

{% block body_content %}
<div class="container">
    <h1>Login</h1>
    <form method="POST">
        {% csrf_token %}
        {% bootstrap_form form %}
        {# equivalent to form.as_p #}
        <input type="submit" value="Login" class="btn btn-default"> 
        <div>
            <a href="../password_reset/">Forgot your password?</a>
        </div>
    </form>
    
</div>
    
{% endblock %}
