@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300i,400,400i,600,600i");
@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600");
/*COLORES*/
/*color principal*/
/*Gris claro*/
/*Gris*/
/*Gris oscuro*/
/*Alerta*/
/*Fuente principal*/
/*Padding para los inputs de texto*/
/*Fondo de textura gris*/
/*Rádio de las puntas*/
* {
  padding: 0;
  margin: 0;
  clear: both;
  list-style-type: none;
  list-style: none;
  text-decoration: none;
  font-family: "Source Sans Pro", sans-serif;
  border: none; }

*:focus {
  outline-color: #c9eeff; }

input[type=checkbox],
input[type=radio] {
  /* esconder los inputs originales */
  visibility: hidden;
  position: absolute; }

input[type=checkbox] + label:before,
input[type=radio] + label:before {
  /*nuevo estilo de input*/
  height: 14px;
  width: 14px;
  margin-right: 5px;
  content: " ";
  display: inline-block;
  vertical-align: middle;
  border: 1px solid #d6d6d6;
  background: #fff;
  cursor: pointer; }

input[type=checkbox]:checked + label:before,
input[type=radio]:checked + label:before {
  /*nuevo estilo de input chekeado*/
  background: #dbd900;
  border-color: #fff; }

input[type=radio] + label:before {
  /*Hacer redondo el input radio*/
  border-radius: 50%; }

.rad-cont label {
  color: #706f6f;
  font-size: 0.95em;
  cursor: pointer; }

.wrapper {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 10px; }

header {
  margin: 20px 0 10px 0;
  height: 70px; }
  header .top-logo {
    display: inline-block;
    vertical-align: top; }
  header .breadcrumbs {
    display: inline-block;
    vertical-align: middle;
    margin: 13px 0 0 30px;
    font-size: 0.9em; }
    header .breadcrumbs p {
      display: inline-block;
      vertical-align: baseline;
      color: #706f6f; }
  header .registration {
    width: 300px;
    margin: 0 0 0 auto;
    height: 50px;
    border-bottom: 1px solid #4c4c4c;
    overflow: hidden; }
    header .registration a {
      color: #4c4c4c;
      display: inline-block;
      width: 50%;
      text-align: center;
      height: inherit;
      padding-top: 20px;
      font-size: 0.95em; }
    header .registration a:hover {
      background-color: #d6d6d6; }
  header .profile-options {
    display: inline-block;
    height: 50px;
    overflow: visible;
    width: 300px;
    float: right; }
    header .profile-options .img {
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      -ms-border-radius: 10px;
      border-radius: 10px;
      overflow: hidden;
      width: 50px;
      height: inherit;
      float: right; }
      header .profile-options .img img {
        display: inline-block;
        width: inherit;
        height: auto;
        cursor: pointer; }
    header .profile-options .name-options-cont {
      display: inline-block;
      height: inherit;
      width: 240px;
      margin: 5px 0 0 auto; }
      header .profile-options .name-options-cont .name {
        color: #706f6f;
        overflow: hidden;
        height: 21px; }
        header .profile-options .name-options-cont .name p {
          text-align: right;
          cursor: pointer; }
      header .profile-options .name-options-cont .options {
        width: 15px;
        margin: 0 0 0 auto; }
        header .profile-options .name-options-cont .options img {
          width: 15px;
          height: 15px;
          cursor: pointer; }
        header .profile-options .name-options-cont .options .drop-down {
          display: none;
          position: relative;
          top: 0;
          right: 180px;
          width: 170px;
          height: auto;
          padding: 13px;
          border: 1px solid #d6d6d6;
          background-color: #fff; }
          header .profile-options .name-options-cont .options .drop-down ul li a {
            color: #706f6f;
            font-size: 0.9em; }
          header .profile-options .name-options-cont .options .drop-down ul .line {
            border-bottom: 2px solid #d6d6d6;
            margin: 7px 0; }

main {
  display: inline-block;
  width: 930px; }

.search-column {
  width: 330px;
  float: right;
  padding-left: 10px; }
  .search-column .logo {
    float: right;
    margin-bottom: 30px; }
  .search-column .map-search-text {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    border-radius: 10px;
    border: 1px solid #d6d6d6;
    overflow: hidden;
    margin-bottom: 15px; }
    .search-column .map-search-text input {
      display: inline-block;
      border-radius: 0;
      color: #4c4c4c;
      border: none;
      padding: 5px 10px;
      width: 255px; }
    .search-column .map-search-text input:focus {
      outline: 0; }
    .search-column .map-search-text i {
      display: inline-block;
      width: 15px;
      height: 15px;
      margin: 5px 8px 5px 0;
      float: right; }
  .search-column .search-map {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    border-radius: 10px;
    border: 1px solid #d6d6d6;
    margin-bottom: 10px; }
    .search-column .search-map svg {
      width: 100%;
      overflow: auto; }
      .search-column .search-map svg .main {
        fill: #dbd900; }
      .search-column .search-map svg .main:hover {
        fill: #dbd900; }
      .search-column .search-map svg path {
        cursor: pointer;
        -webkit-transition: all 45ms ease-in-out;
        -moz-transition: all 45ms ease-in-out;
        -ms-transition: all 45ms ease-in-out;
        -o-transition: all 45ms ease-in-out;
        transition: all 45ms ease-in-out;
        stroke: #fff;
        stroke-width: 2;
        fill: #ccc; }
      .search-column .search-map svg path:hover {
        fill: #bbb; }
  .search-column .search-filter {
    margin-bottom: 35px; }
    .search-column .search-filter p {
      color: #706f6f;
      display: block;
      font-size: 0.8em;
      margin-bottom: 5px; }
    .search-column .search-filter .icons {
      height: 35px;
      display: inline-block;
      vertical-align: middle; }
      .search-column .search-filter .icons img {
        width: 38px;
        height: 38px;
        margin-right: 5px;
        cursor: pointer;
        margin-top: 2px;
        vertical-align: top;
        -webkit-transition: all 30ms ease-in-out;
        -moz-transition: all 30ms ease-in-out;
        -ms-transition: all 30ms ease-in-out;
        -o-transition: all 30ms ease-in-out;
        transition: all 30ms ease-in-out; }
      .search-column .search-filter .icons img:hover {
        margin-top: 0; }
  .search-column .plan-travel-button {
    display: block;
    color: #706f6f;
    font-weight: 600;
    font-size: 1.05em;
    margin-bottom: 10px; }
    .search-column .plan-travel-button img {
      vertical-align: middle;
      margin-right: 5px; }
  .search-column .my-trips p {
    color: #706f6f;
    font-size: 0.9em;
    margin-bottom: 5px; }
  .search-column .my-trips .trip {
    cursor: pointer;
    height: 100px;
    overflow: hidden;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
    -webkit-transition: all 95ms ease-in-out;
    -moz-transition: all 95ms ease-in-out;
    -ms-transition: all 95ms ease-in-out;
    -o-transition: all 95ms ease-in-out;
    transition: all 95ms ease-in-out; }
    .search-column .my-trips .trip .img {
      height: inherit; }
    .search-column .my-trips .trip .name-cont {
      height: 25px;
      position: relative !important;
      bottom: 25px !important;
      left: 0 !important;
      background: -moz-linear-gradient(right, rgba(0, 0, 0, 0.4) 0%, rgba(125, 185, 232, 0) 100%);
      background: -webkit-linear-gradient(right, rgba(0, 0, 0, 0.4) 0%, rgba(125, 185, 232, 0) 100%);
      background: linear-gradient(to left, rgba(0, 0, 0, 0.4) 0%, rgba(125, 185, 232, 0) 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr= '#66000000', endColorstr='#007db9e8',GradientType=1 );
      overflow: hidden; }
      .search-column .my-trips .trip .name-cont p {
        display: block;
        text-align: right;
        color: #fff;
        padding: 3px 10px 0 0; }
  .search-column .my-trips .trip:hover {
    height: 125px; }
  .search-column .utilities .button {
    display: block; }
    .search-column .utilities .button img {
      width: 31px;
      height: 31px;
      vertical-align: middle;
      margin-right: 5px; }
    .search-column .utilities .button span {
      display: inline-block;
      vertical-align: middle;
      color: #706f6f;
      font-weight: 600; }
  .search-column .utilities .map {
    margin-bottom: 20px; }
  .search-column .utilities .diary {
    margin-bottom: 20px; }
    .search-column .utilities .diary .diary-drop-down {
      margin-left: 15px;
      padding: 10px 0 5px 7px;
      border-left: 1px solid #d6d6d6; }
      .search-column .utilities .diary .diary-drop-down .appointment-alert {
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        border-radius: 10px;
        overflow: hidden;
        margin-bottom: 5px; }
        .search-column .utilities .diary .diary-drop-down .appointment-alert .header {
          background-color: #f19125;
          padding: 4px 7px 5px 10px;
          color: #fff;
          max-height: 2.5em;
          overflow: hidden; }
          .search-column .utilities .diary .diary-drop-down .appointment-alert .header img {
            height: 20px;
            vertical-align: middle;
            margin-right: 3px; }
          .search-column .utilities .diary .diary-drop-down .appointment-alert .header .date-hour {
            padding-right: 5px;
            font-size: 0.9em; }
          .search-column .utilities .diary .diary-drop-down .appointment-alert .header .name {
            font-weight: 600; }
      .search-column .utilities .diary .diary-drop-down .body .img {
        height: 80px; }

.grey-background {
  background: url("../img/background-text.jpg");
  background-repeat: repeat; }

.form-cont {
  display: block;
  max-width: 1150px;
  margin: 4% auto 0;
  padding: 0 10px; }
  .form-cont .main {
    display: inline-block;
    width: 30%;
    padding-right: 20px; }
    .form-cont .main .logo-cont {
      display: block; }
    .form-cont .main .logo-cont img {
      display: block;
      margin: 0 0 0 auto; }
    .form-cont .main h3 {
      color: #706f6f;
      font-size: 0.97em;
      margin: 25px 0 10px; }
    .form-cont .main input[type="email"],
    .form-cont .main input[type="password"] {
      display: block;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      -ms-border-radius: 10px;
      border-radius: 10px;
      padding: 5px 10px;
      color: #4c4c4c;
      border: 1px solid #d6d6d6;
      width: 93%;
      margin-bottom: 8px; }
    .form-cont .main input[type="email"],
    .form-cont .main input[type="password"]:focus {
      outline: none; }
    .form-cont .main .submit-button {
      width: 115px;
      margin: 0 0 0 auto;
      padding: 5px 0 15px; }
      .form-cont .main .submit-button a {
        display: block; }
        .form-cont .main .submit-button a img {
          vertical-align: middle;
          margin-right: 7px; }
        .form-cont .main .submit-button a span {
          vertical-align: middle;
          color: #706f6f;
          font-weight: 600; }
    .form-cont .main .rad-cont {
      display: inline-block;
      margin: 3px 20px 5px 0; }
    .form-cont .main .social-cont img {
      display: block;
      margin: 0 0 0 auto; }
    .form-cont .main .legal {
      font-size: 0.95em;
      color: #706f6f;
      text-align: right;
      margin-top: 5px; }
      .form-cont .main .legal a {
        color: inherit;
        text-decoration: underline; }
  .form-cont .portrait {
    display: inline-block;
    vertical-align: top;
    overflow: hidden;
    width: 65%; }
    .form-cont .portrait .img-cont {
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      -ms-border-radius: 10px;
      border-radius: 10px;
      width: auto;
      height: 470px; }
    .form-cont .portrait span {
      display: block;
      text-align: right;
      color: #706f6f;
      font-size: 0.95em; }

article {
  overflow: hidden;
  display: inline-block;
  width: 48.2%;
  -webkit-border-top-left-radius: 10px;
  -webkit-border-top-right-radius: 10px;
  -moz-border-top-left-radius: 10px;
  -moz-border-top-right-radius: 10px;
  -ms-border-top-left-radius: 10px;
  -ms-border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  margin: 0 10px 30px 0; }
  article .img-title-cont {
    height: 250px; }
    article .img-title-cont .title-cont {
      -webkit-transition: all 100ms ease-in-out;
      -moz-transition: all 100ms ease-in-out;
      -ms-transition: all 100ms ease-in-out;
      -o-transition: all 100ms ease-in-out;
      transition: all 100ms ease-in-out;
      background: -moz-linear-gradient(left, rgba(0, 0, 0, 0.4) 0%, rgba(125, 185, 232, 0) 100%);
      background: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.4) 0%, rgba(125, 185, 232, 0) 100%);
      background: linear-gradient(to right, rgba(0, 0, 0, 0.4) 0%, rgba(125, 185, 232, 0) 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr= '#66000000', endColorstr='#007db9e8',GradientType=1 );
      height: 250px;
      position: relative !important;
      bottom: 250px  !important;
      left: 0 !important;
      right: 0 !important;
      max-width: 250px; }
    article .img-title-cont .img {
      height: 250px; }
    article .img-title-cont h3 {
      color: #fff;
      position: absolute;
      bottom: 0;
      font-size: 2em;
      padding: 0px 0px 15px 10px;
      margin-bottom: 10px;
      overflow: hidden;
      line-height: 1.1em;
      /* fallback */
      max-height: 4em; }
  article .img-title-cont:hover .title-cont {
    background: -moz-linear-gradient(left, rgba(0, 0, 0, 0.46) 0%, rgba(125, 185, 232, 0) 100%) !important;
    background: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.46) 0%, rgba(125, 185, 232, 0) 100%) !important;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.46) 0%, rgba(125, 185, 232, 0) 100%) !important;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr= '#66000000', endColorstr='#007db9e8',GradientType=1 ); }
  article .post-info {
    padding-top: 5px; }
    article .post-info .post-type {
      display: inline-block;
      height: 23px;
      margin-right: 10px; }
      article .post-info .post-type i {
        padding: 3px 6px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        border-radius: 5px;
        text-transform: uppercase;
        font-size: 0.57em;
        color: #fff;
        font-family: "Montserrat", sans-serif;
        font-style: normal;
        font-weight: 600;
        letter-spacing: 0.07em;
        margin-top: -4px; }
    article .post-info .description {
      display: block;
      vertical-align: top;
      color: #4c4c4c;
      overflow: hidden;
      font-size: 0.95em;
      line-height: 1.3em;
      text-overflow: ellipsis;
      max-height: 2.6em; }
    article .post-info .review {
      display: block;
      width: 200px;
      float: right;
      margin-top: 10px; }
      article .post-info .review .cost {
        vertical-align: top;
        display: inline-block;
        font-family: "Montserrat", sans-serif;
        color: #4c4c4c;
        margin-right: 10px; }
      article .post-info .review .stars {
        display: inline-block;
        width: 110px; }
      article .post-info .review img {
        cursor: pointer;
        width: inherit;
        height: 20px; }
      article .post-info .review .average {
        font-size: 0.95em;
        color: #706f6f; }

.innovate .post-type i {
  background-color: #1d71b6; }

.social .post-type i {
  background-color: #f19125; }

.learn .post-type i {
  background-color: #e74e1b; }

.enjoy .post-type i {
  background-color: #d73380; }

.life .post-type i {
  background-color: #3f4e55; }

.host .post-type i {
  background-color: #006533; }

.full-width {
  display: block;
  width: auto;
  margin-right: 17px; }
  .full-width .post-info .description {
    display: inline-block;
    width: 64%; }
  .full-width .post-info .review {
    display: inline-block;
    margin-top: 0;
    width: 115px; }
    .full-width .post-info .review .cost {
      display: block; }

.full-width-mobile {
  display: block;
  width: auto;
  margin-right: 10px; }
  .full-width-mobile .post-info .description {
    display: block;
    vertical-align: top;
    width: auto; }
  .full-width-mobile .post-info .review {
    display: block;
    width: 200px;
    margin-top: 10px; }
    .full-width-mobile .post-info .review .cost {
      vertical-align: top;
      display: inline-block;
      margin-right: 10px; }
    .full-width-mobile .post-info .review .average {
      font-size: 0.95em;
      color: #706f6f; }

.user-activity {
  overflow: hidden;
  margin-right: 2.4%;
  margin-bottom: 40px; }
  .user-activity .user-info {
    display: inline-block;
    width: 250px; }
    .user-activity .user-info .img {
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      -ms-border-radius: 10px;
      border-radius: 10px;
      display: inline-block;
      overflow: hidden;
      width: 50px;
      height: 50px;
      vertical-align: middle; }
      .user-activity .user-info .img a img {
        width: 50px;
        height: 50px; }
    .user-activity .user-info .name-time-cont {
      display: inline-block;
      width: 150px;
      vertical-align: middle;
      margin-left: 10px; }
      .user-activity .user-info .name-time-cont .name {
        display: block;
        color: #706f6f;
        font-weight: 600; }
      .user-activity .user-info .name-time-cont .time {
        display: block;
        color: #706f6f;
        font-size: 0.95em; }
  .user-activity .body {
    display: inline-block;
    vertical-align: top;
    margin-top: 10px; }
    .user-activity .body p {
      color: #706f6f; }
      .user-activity .body p .object-name {
        font-weight: 600;
        color: inherit; }
      .user-activity .body p img {
        width: 120px;
        height: 18.61px;
        vertical-align: middle; }
  .user-activity .place-img {
    margin-top: 12px;
    height: 130px;
    -webkit-border-bottom-left-radius: 10px;
    -webkit-border-bottom-right-radius: 10px;
    -moz-border-bottom-left-radius: 10px;
    -moz-border-bottom-right-radius: 10px;
    -ms-border-bottom-left-radius: 10px;
    -ms-border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    overflow: hidden; }
    .user-activity .place-img .place-info {
      height: 50px;
      background: -moz-linear-gradient(right, rgba(0, 0, 0, 0.4) 0%, rgba(125, 185, 232, 0) 100%);
      background: -webkit-linear-gradient(right, rgba(0, 0, 0, 0.4) 0%, rgba(125, 185, 232, 0) 100%);
      background: linear-gradient(to left, rgba(0, 0, 0, 0.4) 0%, rgba(125, 185, 232, 0) 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr= '#66000000', endColorstr='#007db9e8',GradientType=1 );
      overflow: hidden;
      position: relative;
      top: 80px; }
      .user-activity .place-img .place-info .info-cont {
        padding: 5px;
        float: right; }
        .user-activity .place-img .place-info .info-cont .actions {
          display: inline-block;
          vertical-align: middle;
          margin-right: 15px; }
          .user-activity .place-img .place-info .info-cont .actions a img {
            height: 22px;
            width: 13.6px; }
        .user-activity .place-img .place-info .info-cont .review {
          display: inline-block;
          vertical-align: middle; }
          .user-activity .place-img .place-info .info-cont .review img {
            width: 120px;
            height: 18.6px;
            cursor: pointer; }
          .user-activity .place-img .place-info .info-cont .review .average {
            color: #fff;
            font-size: 0.95em; }
