@charset "UTF-8";
/*COLORES*/
/*color principal*/
/*Gris claro*/
/*Gris*/
/*Gris oscuro*/
/*Alerta*/
/*Fuente principal*/
/*Rádio de las puntas*/
/*Padding para los inputs de texto*/
/*Fondo de textura gris*/
body {
  background: url(../img/background-text.jpg);
  background-repeat: repeat; }

.form-cont {
  display: block;
  max-width: 1150px;
  margin: 4% auto 0;
  padding: 0 10px; }
  .form-cont .main {
    display: inline-block;
    width: 30%;
    padding-right: 20px; }
    .form-cont .main .logo-cont {
      display: block; }
    .form-cont .main .logo-cont img {
      display: block;
      margin: 0 0 0 auto; }
    .form-cont .main h3 {
      color: #706f6f;
      font-size: 0.97em;
      margin: 25px 0 10px; }
    .form-cont .main input[type="email"],
    .form-cont .main input[type="password"] {
      display: block;
      border-radius: 10px;
      padding: 5px 10px;
      color: #4c4c4c;
      border: 1px solid #d6d6d6;
      width: 93%;
      margin-bottom: 8px; }
    .form-cont .main input[type="email"],
    .form-cont .main input[type="password"]:focus {
      outline: none; }
    .form-cont .main .submit-button {
      width: 115px;
      margin: 0 0 0 auto;
      padding: 5px 0 15px; }
      .form-cont .main .submit-button img {
        display: inline-block;
        vertical-align: middle;
        margin-right: 7px; }
      .form-cont .main .submit-button a {
        display: inline-block;
        color: #706f6f;
        font-weight: 600;
        text-align: right;
        vertical-align: middle; }
    .form-cont .main .rad-cont {
      display: inline-block;
      margin: 3px 20px 5px 0; }
    .form-cont .main .social-cont img {
      display: block;
      margin: 0 0 0 auto; }
    .form-cont .main .legal {
      font-size: 0.95em;
      color: #706f6f;
      text-align: right;
      margin-top: 5px; }
      .form-cont .main .legal a {
        color: inherit;
        text-decoration: underline; }
  .form-cont .portrait {
    display: inline-block;
    vertical-align: top;
    overflow: hidden;
    width: 65%; }
    .form-cont .portrait .img-cont {
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      -ms-border-radius: 10px;
      border-radius: 10px;
      width: auto;
      height: 470px;
      background-image: url("../img/canada-toronto.jpg"); }
    .form-cont .portrait span {
      display: block;
      text-align: right;
      color: #706f6f;
      font-size: 0.95em; }
